  body {
    background-color: black;
    color: hotpink;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
  }

  td {
    color: black;
    text-align: center; 
    background-color: lightpink;
    border-color: silver;
  }

  th {
    color: black;
    text-align: center; 
    background-color: hotpink;
    border-color: silver;
  }
  
  .img {
    height: 200 px;
    width: 200 px; 
  }
  